# Week 06. Ensemble

과제는 총 3개의 cell과 markdown 하나를 채워주셔야합니다

1~3 문제는 영상과 실습자료에 나와있는 것들을 적절히 응용하시면 됩니다

마지막 4번의 경우 본인의 생각을 마크다운으로 작성하는 부분입니다

주석의 경우 이미지, 테이블 등의 표현이 어려운 관계로 받지 않겠습니다

### 실습 00. Load dataset

이번 과제에 사용할 dataset은 The census - Adult dataset입니다

ML dataset repository인 UCI에서 받을 수 있습니다

파일의 마지막 열에는 target 정보가 기록되어있습니다

데이터를 불러온 후 variables와 target으로 분리해주세요

In [10]:
%reset  -f

In [2]:
import pandas as pd
import numpy as np

df=pd.read_csv('week_06_ensemble.csv')
df.head()

    0  1       2  3   4  5  6  7  8  9    10  11  12  13  14
0  39  0   77516  0  13  0  0  0  0  0  2174   0  40   0   0
1  50  1   83311  0  13  1  1  1  0  0     0   0  13   0   0
2  38  2  215646  1   9  2  2  0  0  0     0   0  40   0   0
3  53  2  234721  2   7  1  2  1  1  0     0   0  40   0   0
4  28  2  338409  0  13  1  3  2  1  1     0   0  40   1   0

In [3]:
variables = df.loc[:,'0':'13']
target = df.loc[:,'14':'14']

In [4]:
variables.shape, target.shape

((32561, 14), (32561, 1))

주어진 데이터를 학습하여 보지않은 test data에 대해 잘 분류해야합니다

아래 train test split 함수를 사용하여 train set과 test set으로 분리해주세요

이후 모든 모델 학습의 결과는 test set으로 평가해주셔야 합니다

In [5]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(variables, target, test_size=0.3, shuffle=False)

### 실습 01. Voting ensemble

Dataset을 약 200개의 base learner에 학습시킨 뒤, 정확도를 출력해주세요

실습한 3가지 모델을 전부 사용해주셔야 하지만, 각 모델의 hyper parameter는 자유롭게 사용해주세요

Hard voting과 soft voting을 각각 시행하여 결과를 출력해주셔야 합니다

In [6]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

from sklearn.ensemble import VotingClassifier

models=[('GNBC', GaussianNB())]+[(f'kNN-{n}', KNeighborsClassifier(n)) for n in (1,30)]+\
        [(f'DT-{_}',DecisionTreeClassifier()) for _ in range(170)]

In [7]:
x_train.values

array([[    39,      0,  77516, ...,      0,     40,      0],
       [    50,      1,  83311, ...,      0,     13,      0],
       [    38,      2, 215646, ...,      0,     40,      0],
       ...,
       [    35,      2, 174308, ...,      0,     40,      0],
       [    31,      1, 162551, ...,      0,     50,      4],
       [    39,      6, 372525, ...,      0,     60,      0]], dtype=int64)

In [9]:
y_train.values.ravel()

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [72]:
copy_models=models.copy()

ensemble=VotingClassifier(models, voting='hard')

ensemble.fit(x_train.values, y_train.values.ravel())

print(f'ensemble score : {ensemble.score(x_test,y_test)*100:.5}%')


for clf in copy_models:
    clf[1].fit(x_train.values,y_train.values.ravel())
    print(f"{clf[0]}'s score : {clf[1].score(x_test,y_test)*100:.5}%")

ensemble score : 81.492%
GNBC's score : 79.65%
kNN-1's score : 72.505%
kNN-30's score : 79.374%
DT-0's score : 81.134%
DT-1's score : 81.175%
DT-2's score : 81.144%
DT-3's score : 81.114%
DT-4's score : 81.063%
DT-5's score : 81.349%
DT-6's score : 81.083%
DT-7's score : 81.001%
DT-8's score : 81.032%
DT-9's score : 80.929%
DT-10's score : 80.786%
DT-11's score : 81.165%
DT-12's score : 81.124%
DT-13's score : 81.226%
DT-14's score : 81.206%
DT-15's score : 81.022%
DT-16's score : 81.421%
DT-17's score : 81.298%
DT-18's score : 81.124%
DT-19's score : 81.298%
DT-20's score : 81.032%
DT-21's score : 81.083%
DT-22's score : 81.339%
DT-23's score : 81.114%
DT-24's score : 81.308%
DT-25's score : 81.298%
DT-26's score : 80.94%
DT-27's score : 81.011%
DT-28's score : 80.95%
DT-29's score : 80.94%
DT-30's score : 81.073%
DT-31's score : 81.144%
DT-32's score : 81.093%
DT-33's score : 81.022%
DT-34's score : 81.37%
DT-35's score : 81.114%
DT-36's score : 81.165%
DT-37's score : 80.96%
DT-38's score : 81.175%
DT-39's score : 81.063%
DT-40's score : 81.022%
DT-41's score : 81.278%
DT-42's score : 80.96%
DT-43's score : 81.083%
DT-44's score : 81.165%
DT-45's score : 81.278%
DT-46's score : 81.073%
DT-47's score : 81.318%
DT-48's score : 81.042%
DT-49's score : 81.196%
DT-50's score : 81.339%
DT-51's score : 81.247%
DT-52's score : 81.103%
DT-53's score : 81.103%
DT-54's score : 80.929%
DT-55's score : 81.063%
DT-56's score : 81.165%
DT-57's score : 80.571%
DT-58's score : 81.38%
DT-59's score : 81.196%
DT-60's score : 80.97%
DT-61's score : 81.257%
DT-62's score : 81.38%
DT-63's score : 81.278%
DT-64's score : 80.796%
DT-65's score : 81.257%
DT-66's score : 81.38%
DT-67's score : 81.144%
DT-68's score : 81.462%
DT-69's score : 81.359%
DT-70's score : 81.052%
DT-71's score : 81.196%
DT-72's score : 81.339%
DT-73's score : 81.144%
DT-74's score : 81.216%
DT-75's score : 81.124%
DT-76's score : 81.247%
DT-77's score : 81.083%
DT-78's score : 81.216%
DT-79's score : 81.001%
DT-80's score : 81.226%
DT-81's score : 81.052%
DT-82's score : 81.237%
DT-83's score : 80.817%
DT-84's score : 81.226%
DT-85's score : 81.196%
DT-86's score : 81.001%
DT-87's score : 81.001%
DT-88's score : 80.715%
DT-89's score : 81.237%
DT-90's score : 80.827%
DT-91's score : 80.991%
DT-92's score : 81.359%
DT-93's score : 81.247%
DT-94's score : 81.226%
DT-95's score : 81.134%
DT-96's score : 80.96%
DT-97's score : 81.155%
DT-98's score : 81.165%
DT-99's score : 81.257%
DT-100's score : 80.97%
DT-101's score : 81.144%
DT-102's score : 81.011%
DT-103's score : 81.196%
DT-104's score : 81.144%
DT-105's score : 81.052%
DT-106's score : 81.288%
DT-107's score : 81.114%
DT-108's score : 81.185%
DT-109's score : 81.185%
DT-110's score : 81.063%
DT-111's score : 81.144%
DT-112's score : 80.929%
DT-113's score : 81.267%
DT-114's score : 81.185%
DT-115's score : 81.052%
DT-116's score : 81.185%
DT-117's score : 81.298%
DT-118's score : 81.257%
DT-119's score : 81.032%
DT-120's score : 81.267%
DT-121's score : 81.39%
DT-122's score : 81.001%
DT-123's score : 81.339%
DT-124's score : 81.4%
DT-125's score : 80.909%
DT-126's score : 81.165%
DT-127's score : 81.329%
DT-128's score : 80.858%
DT-129's score : 81.103%
DT-130's score : 80.909%
DT-131's score : 81.206%
DT-132's score : 80.909%
DT-133's score : 81.278%
DT-134's score : 81.206%
DT-135's score : 80.97%
DT-136's score : 81.359%
DT-137's score : 81.216%
DT-138's score : 81.001%
DT-139's score : 80.919%
DT-140's score : 81.278%
DT-141's score : 81.042%
DT-142's score : 81.083%
DT-143's score : 81.288%
DT-144's score : 80.95%
DT-145's score : 81.462%
DT-146's score : 81.318%
DT-147's score : 81.523%
DT-148's score : 80.715%
DT-149's score : 81.206%
DT-150's score : 81.482%
DT-151's score : 80.95%
DT-152's score : 81.267%
DT-153's score : 80.929%
DT-154's score : 81.39%
DT-155's score : 80.981%
DT-156's score : 81.206%
DT-157's score : 81.349%
DT-158's score : 81.175%
DT-159's score : 81.032%
DT-160's score : 81.073%
DT-161's score : 81.359%
DT-162's score : 81.103%
DT-163's score : 80.858%
DT-164's score : 80.981%
DT-165's score : 80.96%
DT-166's score : 81.144%
DT-167's score : 81.237%
DT-168's score : 81.421%
DT-169's score : 81.257%

DT-147's score : 81.523%

In [73]:
copy_models=models.copy()

ensemble=VotingClassifier(models, voting='soft')

ensemble.fit(x_train.values, y_train.values.ravel())

print(f'ensemble score : {ensemble.score(x_test,y_test)*100:.5}%')


for clf in copy_models:
    clf[1].fit(x_train.values,y_train.values.ravel())
    print(f"{clf[0]}'s score : {clf[1].score(x_test,y_test)*100:.5}%")

ensemble score : 81.278%
GNBC's score : 79.65%
kNN-1's score : 72.505%
kNN-30's score : 79.374%
DT-0's score : 81.185%
DT-1's score : 80.899%
DT-2's score : 81.093%
DT-3's score : 81.278%
DT-4's score : 81.052%
DT-5's score : 81.237%
DT-6's score : 81.298%
DT-7's score : 81.134%
DT-8's score : 81.042%
DT-9's score : 81.226%
DT-10's score : 81.503%
DT-11's score : 81.073%
DT-12's score : 81.4%
DT-13's score : 81.032%
DT-14's score : 80.981%
DT-15's score : 81.339%
DT-16's score : 81.093%
DT-17's score : 81.237%
DT-18's score : 81.318%
DT-19's score : 81.144%
DT-20's score : 81.001%
DT-21's score : 81.38%
DT-22's score : 81.185%
DT-23's score : 81.103%
DT-24's score : 81.349%
DT-25's score : 80.97%
DT-26's score : 81.032%
DT-27's score : 81.001%
DT-28's score : 81.206%
DT-29's score : 80.981%
DT-30's score : 81.421%
DT-31's score : 81.237%
DT-32's score : 81.308%
DT-33's score : 81.175%
DT-34's score : 80.909%
DT-35's score : 80.929%
DT-36's score : 81.175%
DT-37's score : 80.909%
DT-38's score : 81.001%
DT-39's score : 81.032%
DT-40's score : 81.329%
DT-41's score : 81.165%
DT-42's score : 81.185%
DT-43's score : 81.452%
DT-44's score : 80.96%
DT-45's score : 81.237%
DT-46's score : 81.298%
DT-47's score : 81.196%
DT-48's score : 81.083%
DT-49's score : 81.206%
DT-50's score : 80.97%
DT-51's score : 81.083%
DT-52's score : 81.001%
DT-53's score : 81.237%
DT-54's score : 81.411%
DT-55's score : 80.97%
DT-56's score : 80.94%
DT-57's score : 81.308%
DT-58's score : 81.237%
DT-59's score : 81.267%
DT-60's score : 81.001%
DT-61's score : 81.237%
DT-62's score : 80.827%
DT-63's score : 81.093%
DT-64's score : 81.093%
DT-65's score : 81.022%
DT-66's score : 81.042%
DT-67's score : 81.206%
DT-68's score : 80.95%
DT-69's score : 81.175%
DT-70's score : 81.124%
DT-71's score : 81.093%
DT-72's score : 80.919%
DT-73's score : 81.155%
DT-74's score : 81.032%
DT-75's score : 81.155%
DT-76's score : 81.185%
DT-77's score : 81.185%
DT-78's score : 81.237%
DT-79's score : 81.001%
DT-80's score : 81.411%
DT-81's score : 81.052%
DT-82's score : 81.114%
DT-83's score : 81.359%
DT-84's score : 80.991%
DT-85's score : 81.216%
DT-86's score : 81.155%
DT-87's score : 81.298%
DT-88's score : 81.503%
DT-89's score : 81.308%
DT-90's score : 81.114%
DT-91's score : 81.278%
DT-92's score : 81.288%
DT-93's score : 80.735%
DT-94's score : 81.38%
DT-95's score : 81.042%
DT-96's score : 81.226%
DT-97's score : 80.837%
DT-98's score : 81.124%
DT-99's score : 81.134%
DT-100's score : 81.185%
DT-101's score : 81.114%
DT-102's score : 81.533%
DT-103's score : 81.267%
DT-104's score : 81.226%
DT-105's score : 81.175%
DT-106's score : 81.175%
DT-107's score : 81.165%
DT-108's score : 81.257%
DT-109's score : 81.022%
DT-110's score : 81.247%
DT-111's score : 81.114%
DT-112's score : 80.878%
DT-113's score : 80.848%
DT-114's score : 81.083%
DT-115's score : 81.022%
DT-116's score : 81.093%
DT-117's score : 81.155%
DT-118's score : 80.919%
DT-119's score : 81.114%
DT-120's score : 81.226%
DT-121's score : 81.083%
DT-122's score : 81.175%
DT-123's score : 81.063%
DT-124's score : 81.165%
DT-125's score : 81.656%
DT-126's score : 81.278%
DT-127's score : 81.226%
DT-128's score : 81.042%
DT-129's score : 81.042%
DT-130's score : 80.827%
DT-131's score : 81.144%
DT-132's score : 81.267%
DT-133's score : 80.796%
DT-134's score : 81.554%
DT-135's score : 81.083%
DT-136's score : 80.899%
DT-137's score : 81.513%
DT-138's score : 80.919%
DT-139's score : 81.237%
DT-140's score : 81.063%
DT-141's score : 81.052%
DT-142's score : 81.308%
DT-143's score : 81.278%
DT-144's score : 81.39%
DT-145's score : 81.103%
DT-146's score : 81.257%
DT-147's score : 81.103%
DT-148's score : 81.134%
DT-149's score : 81.216%
DT-150's score : 81.339%
DT-151's score : 81.318%
DT-152's score : 80.97%
DT-153's score : 81.022%
DT-154's score : 81.226%
DT-155's score : 81.196%
DT-156's score : 81.093%
DT-157's score : 81.39%
DT-158's score : 81.216%
DT-159's score : 81.247%
DT-160's score : 81.042%
DT-161's score : 81.114%
DT-162's score : 81.349%
DT-163's score : 81.124%
DT-164's score : 81.533%
DT-165's score : 80.878%
DT-166's score : 81.339%
DT-167's score : 81.441%
DT-168's score : 80.919%
DT-169's score : 81.308%

### 실습 02. Bootstrap Aggregating (bagging)

bagging을 실습해보겠습니다

Random forest는 bagging을 지원하지만 다양한 classifier를 사용하는 경우 bagging을 직접 구현해야합니다

bagging을 하기위한 package들도 존재하지만 numpy를 사용하여 bagging을 간단히 적용할 수 있습니다

먼저 sample만 무작위로 복원추출 하는 함수를 작성해주세요

np.random.choice 함수를 사용하여 slicing하면 간단히 구현할 수 있습니다

In [54]:
def sample_bootstrap(mat,bootstrap_ratio=0.6):
    
    size=len(mat)
    num = size * bootstrap_ratio
    
    num_list = []
    for i in range(int(num)):
        num_list.append(np.random.choice(size))
        
    bootstrap_mat = df.iloc[num_list]
                            
    return bootstrap_mat

In [105]:
boot=[]
for i in range(0,5):
    boot.append(sample_bootstrap(df, bootstrap_ratio=0.6))

이어서 sample과 함께 variables들도 복원추출할 수 있는 함수를 작성해주세요

위와 같이 함수를 사용하여 row뿐만 아니라 column도 slicing하는 것으로 구현할 수 있습니다

In [124]:
variables_list = []
target_list = []
def bootstrap(mat=[],bootstrap_ratio=0.6):
    for i in range(len(boot)):
        variables_list.append(mat[i].loc[:,'0':'13'])
        target_list.append(mat[i].loc[:,'14':'14'])
    bootstrap_mat = (variables_list,target_list)
    return bootstrap_mat

In [161]:
data=bootstrap(boot)
data

([        0  1       2   3   4  5   6  7  8  9    10    11  12  13
  30765  38  2  252897   5  10  2   5  3  0  1     0     0  25   0
  31470  19  2  188568   5  10  0  14  0  0  1     0     0  40   0
  11486  42  2  334522   1   9  1   2  1  1  0     0     0  40   0
  5694   44  2  182616   7  11  1  10  1  0  0     0     0  40   0
  16344  28  2   72443   5  10  0   1  0  0  0     0  1669  60   0
  ...    .. ..     ...  ..  .. ..  .. .. .. ..   ...   ...  ..  ..
  11836  49  3  586657   0  13  1   1  1  0  0  7298     0  40   0
  5712   47  0   55272   5  10  1   6  1  0  0     0     0  40   0
  30750  25  2  122999   1   9  0   6  5  0  0     0     0  40   0
  30147  31  2  243773   4   5  0   4  4  0  1     0     0  20   0
  2278   17  2  329783  12   6  0   5  5  0  1     0     0  10   0

  [19536 rows x 14 columns],
          0  1       2   3   4  5   6  7  8  9  10    11  12  13
  21722  49  2  149809  14   1  1   4  1  0  0   0     0  40   4
  22343  64  2  285052   5  10  6   1  0  0  1   0     0  10   0
  1457   22  2  310152   5  10  0   7  0  0  0   0     0  40   0
  18147  58  2  205410   1   9  1   6  1  0  0   0     0  40   0
  19975  37  2  187748   5  10  1   6  1  0  0   0     0  40   0
  ...    .. ..     ...  ..  .. ..  .. .. .. ..  ..   ...  ..  ..
  14954  35  2  409200   6  12  0  12  0  0  0   0     0  40   0
  19342  26  2  266022   5  10  1   5  1  0  0   0     0  50   0
  11229  32  2  244147   0  13  0   3  0  0  0   0  1876  50   0
  31271  74  2   54732   5  10  1   5  1  0  0   0     0  20   0
  31008  47  0  187087   0  13  1   1  1  0  0   0     0  40   0

  [19536 rows x 14 columns],
          0  1       2  3   4  5   6  7  8  9     10  11  12  13
  29537  46  4  133969  3  14  2   3  0  3  0      0   0  40   0
  3593   61  1   32423  1   9  1   8  2  0  1  22040   0  40   0
  2660   48  2  108993  1   9  1   6  1  0  0      0   0  45   0
  32025  50  2  139703  5  10  1   6  1  0  0      0   0  40   0
  4343   33  4   43959  3  14  1   3  1  0  0   7688   0  50   0
  ...    .. ..     ... ..  .. ..  .. .. .. ..    ...  ..  ..  ..
  20868  61  5  253101  0  13  2  11  0  0  1      0   0  24   0
  10181  43  2  108945  5  10  0   1  0  0  1      0   0  50   0
  18207  44  2  271792  0  13  3   1  4  0  1      0   0  40   0
  20777  49  2  183013  1   9  1   8  1  0  0      0   0  40   0
  30850  37  4  126569  1   9  0   6  0  0  0      0   0  40   0

  [19536 rows x 14 columns],
          0  1       2  3   4  5   6  7  8  9     10    11  12  13
  6666   58  2   87329  2   7  1   0  1  0  0      0     0  48   0
  6596   28  2  125527  5  10  0   5  0  0  0      0     0  50   0
  29925  43  2  323713  1   9  1   9  1  0  0      0     0  40   0
  18712  34  2   54850  0  13  0   1  0  0  0      0  1590  50   0
  13786  53  2   47396  5  10  1   0  1  0  0      0     0  50   0
  ...    .. ..     ... ..  .. ..  .. .. .. ..    ...   ...  ..  ..
  28019  35  2  340428  6  12  0   0  0  0  1      0     0  35   0
  17957  68  4  242095  0  13  1   1  1  0  0  20051     0  40   0
  28106  22  2  221480  1   9  0   0  3  0  1      0     0  40   0
  8949   60  5  366531  7  11  6  11  0  0  1      0     0  40   0
  16147  41  2  152742  7  11  2  10  0  0  1   3325     0  40   0

  [19536 rows x 14 columns],
          0  1       2  3   4  5   6  7  8  9    10  11  12  13
  11464  69  2  108196  4   5  0   6  5  0  0  2993   0  40   0
  14030  40  2  184378  5  10  1   5  1  0  0     0   0  60   7
  20547  33  2  121195  1   9  0   9  0  4  0     0   0  50   0
  12449  35  2  205338  1   9  1   6  1  0  0     0   0  40   0
  7678   31  4  149184  0  13  1  12  1  0  0     0   0  97   0
  ...    .. ..     ... ..  .. ..  .. .. .. ..   ...  ..  ..  ..
  5893   32  2  211028  5  10  0   0  0  0  1     0   0  40   0
  5652   56  5  188166  1   9  1  11  1  0  0     0   0  40   0
  10516  46  2   24728  1   9  0   6  0  0  1     0   0  48   0
  20181  60  4  232618  1   9  1   4  1  0  0     0   0  40   0
  4842   60  2  225526  1   9  4   5  0  0  1     0   0  32   0

  [19536 rows x 14 columns],
          0  1       2   3   4  5   6  7  8  9    10    11  12  13
  30765  38  2  252897   5  10  2   5  3  0  1     0     0  25   0
  31470  19  2  188568   5  10  0  14  0  0  1     0     0  40   0
  11486  42  2  334522   1   9  1   2  1  1  0     0     0  40   0
  5694   44  2  182616   7  11  1  10  1  0  0     0     0  40   0
  16344  28  2   72443   5  10  0   1  0  0  0     0  1669  60   0
  ...    .. ..     ...  ..  .. ..  .. .. .. ..   ...   ...  ..  ..
  11836  49  3  586657   0  13  1   1  1  0  0  7298     0  40   0
  5712   47  0   55272   5  10  1   6  1  0  0     0     0  40   0
  30750  25  2  122999   1   9  0   6  5  0  0     0     0  40   0
  30147  31  2  243773   4   5  0   4  4  0  1     0     0  20   0
  2278   17  2  329783  12   6  0   5  5  0  1     0     0  10   0

  [19536 rows x 14 columns],
          0  1       2   3   4  5   6  7  8  9  10    11  12  13
  21722  49  2  149809  14   1  1   4  1  0  0   0     0  40   4
  22343  64  2  285052   5  10  6   1  0  0  1   0     0  10   0
  1457   22  2  310152   5  10  0   7  0  0  0   0     0  40   0
  18147  58  2  205410   1   9  1   6  1  0  0   0     0  40   0
  19975  37  2  187748   5  10  1   6  1  0  0   0     0  40   0
  ...    .. ..     ...  ..  .. ..  .. .. .. ..  ..   ...  ..  ..
  14954  35  2  409200   6  12  0  12  0  0  0   0     0  40   0
  19342  26  2  266022   5  10  1   5  1  0  0   0     0  50   0
  11229  32  2  244147   0  13  0   3  0  0  0   0  1876  50   0
  31271  74  2   54732   5  10  1   5  1  0  0   0     0  20   0
  31008  47  0  187087   0  13  1   1  1  0  0   0     0  40   0

  [19536 rows x 14 columns],
          0  1       2  3   4  5   6  7  8  9     10  11  12  13
  29537  46  4  133969  3  14  2   3  0  3  0      0   0  40   0
  3593   61  1   32423  1   9  1   8  2  0  1  22040   0  40   0
  2660   48  2  108993  1   9  1   6  1  0  0      0   0  45   0
  32025  50  2  139703  5  10  1   6  1  0  0      0   0  40   0
  4343   33  4   43959  3  14  1   3  1  0  0   7688   0  50   0
  ...    .. ..     ... ..  .. ..  .. .. .. ..    ...  ..  ..  ..
  20868  61  5  253101  0  13  2  11  0  0  1      0   0  24   0
  10181  43  2  108945  5  10  0   1  0  0  1      0   0  50   0
  18207  44  2  271792  0  13  3   1  4  0  1      0   0  40   0
  20777  49  2  183013  1   9  1   8  1  0  0      0   0  40   0
  30850  37  4  126569  1   9  0   6  0  0  0      0   0  40   0

  [19536 rows x 14 columns],
          0  1       2  3   4  5   6  7  8  9     10    11  12  13
  6666   58  2   87329  2   7  1   0  1  0  0      0     0  48   0
  6596   28  2  125527  5  10  0   5  0  0  0      0     0  50   0
  29925  43  2  323713  1   9  1   9  1  0  0      0     0  40   0
  18712  34  2   54850  0  13  0   1  0  0  0      0  1590  50   0
  13786  53  2   47396  5  10  1   0  1  0  0      0     0  50   0
  ...    .. ..     ... ..  .. ..  .. .. .. ..    ...   ...  ..  ..
  28019  35  2  340428  6  12  0   0  0  0  1      0     0  35   0
  17957  68  4  242095  0  13  1   1  1  0  0  20051     0  40   0
  28106  22  2  221480  1   9  0   0  3  0  1      0     0  40   0
  8949   60  5  366531  7  11  6  11  0  0  1      0     0  40   0
  16147  41  2  152742  7  11  2  10  0  0  1   3325     0  40   0

  [19536 rows x 14 columns],
          0  1       2  3   4  5   6  7  8  9    10  11  12  13
  11464  69  2  108196  4   5  0   6  5  0  0  2993   0  40   0
  14030  40  2  184378  5  10  1   5  1  0  0     0   0  60   7
  20547  33  2  121195  1   9  0   9  0  4  0     0   0  50   0
  12449  35  2  205338  1   9  1   6  1  0  0     0   0  40   0
  7678   31  4  149184  0  13  1  12  1  0  0     0   0  97   0
  ...    .. ..     ... ..  .. ..  .. .. .. ..   ...  ..  ..  ..
  5893   32  2  211028  5  10  0   0  0  0  1     0   0  40   0
  5652   56  5  188166  1   9  1  11  1  0  0     0   0  40   0
  10516  46  2   24728  1   9  0   6  0  0  1     0   0  48   0
  20181  60  4  232618  1   9  1   4  1  0  0     0   0  40   0
  4842   60  2  225526  1   9  4   5  0  0  1     0   0  32   0

  [19536 rows x 14 columns],
          0  1       2   3   4  5   6  7  8  9    10    11  12  13
  30765  38  2  252897   5  10  2   5  3  0  1     0     0  25   0
  31470  19  2  188568   5  10  0  14  0  0  1     0     0  40   0
  11486  42  2  334522   1   9  1   2  1  1  0     0     0  40   0
  5694   44  2  182616   7  11  1  10  1  0  0     0     0  40   0
  16344  28  2   72443   5  10  0   1  0  0  0     0  1669  60   0
  ...    .. ..     ...  ..  .. ..  .. .. .. ..   ...   ...  ..  ..
  11836  49  3  586657   0  13  1   1  1  0  0  7298     0  40   0
  5712   47  0   55272   5  10  1   6  1  0  0     0     0  40   0
  30750  25  2  122999   1   9  0   6  5  0  0     0     0  40   0
  30147  31  2  243773   4   5  0   4  4  0  1     0     0  20   0
  2278   17  2  329783  12   6  0   5  5  0  1     0     0  10   0

  [19536 rows x 14 columns],
          0  1       2   3   4  5   6  7  8  9  10    11  12  13
  21722  49  2  149809  14   1  1   4  1  0  0   0     0  40   4
  22343  64  2  285052   5  10  6   1  0  0  1   0     0  10   0
  1457   22  2  310152   5  10  0   7  0  0  0   0     0  40   0
  18147  58  2  205410   1   9  1   6  1  0  0   0     0  40   0
  19975  37  2  187748   5  10  1   6  1  0  0   0     0  40   0
  ...    .. ..     ...  ..  .. ..  .. .. .. ..  ..   ...  ..  ..
  14954  35  2  409200   6  12  0  12  0  0  0   0     0  40   0
  19342  26  2  266022   5  10  1   5  1  0  0   0     0  50   0
  11229  32  2  244147   0  13  0   3  0  0  0   0  1876  50   0
  31271  74  2   54732   5  10  1   5  1  0  0   0     0  20   0
  31008  47  0  187087   0  13  1   1  1  0  0   0     0  40   0

  [19536 rows x 14 columns],
          0  1       2  3   4  5   6  7  8  9     10  11  12  13
  29537  46  4  133969  3  14  2   3  0  3  0      0   0  40   0
  3593   61  1   32423  1   9  1   8  2  0  1  22040   0  40   0
  2660   48  2  108993  1   9  1   6  1  0  0      0   0  45   0
  32025  50  2  139703  5  10  1   6  1  0  0      0   0  40   0
  4343   33  4   43959  3  14  1   3  1  0  0   7688   0  50   0
  ...    .. ..     ... ..  .. ..  .. .. .. ..    ...  ..  ..  ..
  20868  61  5  253101  0  13  2  11  0  0  1      0   0  24   0
  10181  43  2  108945  5  10  0   1  0  0  1      0   0  50   0
  18207  44  2  271792  0  13  3   1  4  0  1      0   0  40   0
  20777  49  2  183013  1   9  1   8  1  0  0      0   0  40   0
  30850  37  4  126569  1   9  0   6  0  0  0      0   0  40   0

  [19536 rows x 14 columns],
          0  1       2  3   4  5   6  7  8  9     10    11  12  13
  6666   58  2   87329  2   7  1   0  1  0  0      0     0  48   0
  6596   28  2  125527  5  10  0   5  0  0  0      0     0  50   0
  29925  43  2  323713  1   9  1   9  1  0  0      0     0  40   0
  18712  34  2   54850  0  13  0   1  0  0  0      0  1590  50   0
  13786  53  2   47396  5  10  1   0  1  0  0      0     0  50   0
  ...    .. ..     ... ..  .. ..  .. .. .. ..    ...   ...  ..  ..
  28019  35  2  340428  6  12  0   0  0  0  1      0     0  35   0
  17957  68  4  242095  0  13  1   1  1  0  0  20051     0  40   0
  28106  22  2  221480  1   9  0   0  3  0  1      0     0  40   0
  8949   60  5  366531  7  11  6  11  0  0  1      0     0  40   0
  16147  41  2  152742  7  11  2  10  0  0  1   3325     0  40   0

  [19536 rows x 14 columns],
          0  1       2  3   4  5   6  7  8  9    10  11  12  13
  11464  69  2  108196  4   5  0   6  5  0  0  2993   0  40   0
  14030  40  2  184378  5  10  1   5  1  0  0     0   0  60   7
  20547  33  2  121195  1   9  0   9  0  4  0     0   0  50   0
  12449  35  2  205338  1   9  1   6  1  0  0     0   0  40   0
  7678   31  4  149184  0  13  1  12  1  0  0     0   0  97   0
  ...    .. ..     ... ..  .. ..  .. .. .. ..   ...  ..  ..  ..
  5893   32  2  211028  5  10  0   0  0  0  1     0   0  40   0
  5652   56  5  188166  1   9  1  11  1  0  0     0   0  40   0
  10516  46  2   24728  1   9  0   6  0  0  1     0   0  48   0
  20181  60  4  232618  1   9  1   4  1  0  0     0   0  40   0
  4842   60  2  225526  1   9  4   5  0  0  1     0   0  32   0

  [19536 rows x 14 columns],
          0  1       2   3   4  5   6  7  8  9    10    11  12  13
  30765  38  2  252897   5  10  2   5  3  0  1     0     0  25   0
  31470  19  2  188568   5  10  0  14  0  0  1     0     0  40   0
  11486  42  2  334522   1   9  1   2  1  1  0     0     0  40   0
  5694   44  2  182616   7  11  1  10  1  0  0     0     0  40   0
  16344  28  2   72443   5  10  0   1  0  0  0     0  1669  60   0
  ...    .. ..     ...  ..  .. ..  .. .. .. ..   ...   ...  ..  ..
  11836  49  3  586657   0  13  1   1  1  0  0  7298     0  40   0
  5712   47  0   55272   5  10  1   6  1  0  0     0     0  40   0
  30750  25  2  122999   1   9  0   6  5  0  0     0     0  40   0
  30147  31  2  243773   4   5  0   4  4  0  1     0     0  20   0
  2278   17  2  329783  12   6  0   5  5  0  1     0     0  10   0

  [19536 rows x 14 columns],
          0  1       2   3   4  5   6  7  8  9  10    11  12  13
  21722  49  2  149809  14   1  1   4  1  0  0   0     0  40   4
  22343  64  2  285052   5  10  6   1  0  0  1   0     0  10   0
  1457   22  2  310152   5  10  0   7  0  0  0   0     0  40   0
  18147  58  2  205410   1   9  1   6  1  0  0   0     0  40   0
  19975  37  2  187748   5  10  1   6  1  0  0   0     0  40   0
  ...    .. ..     ...  ..  .. ..  .. .. .. ..  ..   ...  ..  ..
  14954  35  2  409200   6  12  0  12  0  0  0   0     0  40   0
  19342  26  2  266022   5  10  1   5  1  0  0   0     0  50   0
  11229  32  2  244147   0  13  0   3  0  0  0   0  1876  50   0
  31271  74  2   54732   5  10  1   5  1  0  0   0     0  20   0
  31008  47  0  187087   0  13  1   1  1  0  0   0     0  40   0

  [19536 rows x 14 columns],
          0  1       2  3   4  5   6  7  8  9     10  11  12  13
  29537  46  4  133969  3  14  2   3  0  3  0      0   0  40   0
  3593   61  1   32423  1   9  1   8  2  0  1  22040   0  40   0
  2660   48  2  108993  1   9  1   6  1  0  0      0   0  45   0
  32025  50  2  139703  5  10  1   6  1  0  0      0   0  40   0
  4343   33  4   43959  3  14  1   3  1  0  0   7688   0  50   0
  ...    .. ..     ... ..  .. ..  .. .. .. ..    ...  ..  ..  ..
  20868  61  5  253101  0  13  2  11  0  0  1      0   0  24   0
  10181  43  2  108945  5  10  0   1  0  0  1      0   0  50   0
  18207  44  2  271792  0  13  3   1  4  0  1      0   0  40   0
  20777  49  2  183013  1   9  1   8  1  0  0      0   0  40   0
  30850  37  4  126569  1   9  0   6  0  0  0      0   0  40   0

  [19536 rows x 14 columns],
          0  1       2  3   4  5   6  7  8  9     10    11  12  13
  6666   58  2   87329  2   7  1   0  1  0  0      0     0  48   0
  6596   28  2  125527  5  10  0   5  0  0  0      0     0  50   0
  29925  43  2  323713  1   9  1   9  1  0  0      0     0  40   0
  18712  34  2   54850  0  13  0   1  0  0  0      0  1590  50   0
  13786  53  2   47396  5  10  1   0  1  0  0      0     0  50   0
  ...    .. ..     ... ..  .. ..  .. .. .. ..    ...   ...  ..  ..
  28019  35  2  340428  6  12  0   0  0  0  1      0     0  35   0
  17957  68  4  242095  0  13  1   1  1  0  0  20051     0  40   0
  28106  22  2  221480  1   9  0   0  3  0  1      0     0  40   0
  8949   60  5  366531  7  11  6  11  0  0  1      0     0  40   0
  16147  41  2  152742  7  11  2  10  0  0  1   3325     0  40   0

  [19536 rows x 14 columns],
          0  1       2  3   4  5   6  7  8  9    10  11  12  13
  11464  69  2  108196  4   5  0   6  5  0  0  2993   0  40   0
  14030  40  2  184378  5  10  1   5  1  0  0     0   0  60   7
  20547  33  2  121195  1   9  0   9  0  4  0     0   0  50   0
  12449  35  2  205338  1   9  1   6  1  0  0     0   0  40   0
  7678   31  4  149184  0  13  1  12  1  0  0     0   0  97   0
  ...    .. ..     ... ..  .. ..  .. .. .. ..   ...  ..  ..  ..
  5893   32  2  211028  5  10  0   0  0  0  1     0   0  40   0
  5652   56  5  188166  1   9  1  11  1  0  0     0   0  40   0
  10516  46  2   24728  1   9  0   6  0  0  1     0   0  48   0
  20181  60  4  232618  1   9  1   4  1  0  0     0   0  40   0
  4842   60  2  225526  1   9  4   5  0  0  1     0   0  32   0

  [19536 rows x 14 columns],
          0  1       2   3   4  5   6  7  8  9    10    11  12  13
  30765  38  2  252897   5  10  2   5  3  0  1     0     0  25   0
  31470  19  2  188568   5  10  0  14  0  0  1     0     0  40   0
  11486  42  2  334522   1   9  1   2  1  1  0     0     0  40   0
  5694   44  2  182616   7  11  1  10  1  0  0     0     0  40   0
  16344  28  2   72443   5  10  0   1  0  0  0     0  1669  60   0
  ...    .. ..     ...  ..  .. ..  .. .. .. ..   ...   ...  ..  ..
  11836  49  3  586657   0  13  1   1  1  0  0  7298     0  40   0
  5712   47  0   55272   5  10  1   6  1  0  0     0     0  40   0
  30750  25  2  122999   1   9  0   6  5  0  0     0     0  40   0
  30147  31  2  243773   4   5  0   4  4  0  1     0     0  20   0
  2278   17  2  329783  12   6  0   5  5  0  1     0     0  10   0

  [19536 rows x 14 columns],
          0  1       2   3   4  5   6  7  8  9  10    11  12  13
  21722  49  2  149809  14   1  1   4  1  0  0   0     0  40   4
  22343  64  2  285052   5  10  6   1  0  0  1   0     0  10   0
  1457   22  2  310152   5  10  0   7  0  0  0   0     0  40   0
  18147  58  2  205410   1   9  1   6  1  0  0   0     0  40   0
  19975  37  2  187748   5  10  1   6  1  0  0   0     0  40   0
  ...    .. ..     ...  ..  .. ..  .. .. .. ..  ..   ...  ..  ..
  14954  35  2  409200   6  12  0  12  0  0  0   0     0  40   0
  19342  26  2  266022   5  10  1   5  1  0  0   0     0  50   0
  11229  32  2  244147   0  13  0   3  0  0  0   0  1876  50   0
  31271  74  2   54732   5  10  1   5  1  0  0   0     0  20   0
  31008  47  0  187087   0  13  1   1  1  0  0   0     0  40   0

  [19536 rows x 14 columns],
          0  1       2  3   4  5   6  7  8  9     10  11  12  13
  29537  46  4  133969  3  14  2   3  0  3  0      0   0  40   0
  3593   61  1   32423  1   9  1   8  2  0  1  22040   0  40   0
  2660   48  2  108993  1   9  1   6  1  0  0      0   0  45   0
  32025  50  2  139703  5  10  1   6  1  0  0      0   0  40   0
  4343   33  4   43959  3  14  1   3  1  0  0   7688   0  50   0
  ...    .. ..     ... ..  .. ..  .. .. .. ..    ...  ..  ..  ..
  20868  61  5  253101  0  13  2  11  0  0  1      0   0  24   0
  10181  43  2  108945  5  10  0   1  0  0  1      0   0  50   0
  18207  44  2  271792  0  13  3   1  4  0  1      0   0  40   0
  20777  49  2  183013  1   9  1   8  1  0  0      0   0  40   0
  30850  37  4  126569  1   9  0   6  0  0  0      0   0  40   0

  [19536 rows x 14 columns],
          0  1       2  3   4  5   6  7  8  9     10    11  12  13
  6666   58  2   87329  2   7  1   0  1  0  0      0     0  48   0
  6596   28  2  125527  5  10  0   5  0  0  0      0     0  50   0
  29925  43  2  323713  1   9  1   9  1  0  0      0     0  40   0
  18712  34  2   54850  0  13  0   1  0  0  0      0  1590  50   0
  13786  53  2   47396  5  10  1   0  1  0  0      0     0  50   0
  ...    .. ..     ... ..  .. ..  .. .. .. ..    ...   ...  ..  ..
  28019  35  2  340428  6  12  0   0  0  0  1      0     0  35   0
  17957  68  4  242095  0  13  1   1  1  0  0  20051     0  40   0
  28106  22  2  221480  1   9  0   0  3  0  1      0     0  40   0
  8949   60  5  366531  7  11  6  11  0  0  1      0     0  40   0
  16147  41  2  152742  7  11  2  10  0  0  1   3325     0  40   0

  [19536 rows x 14 columns],
          0  1       2  3   4  5   6  7  8  9    10  11  12  13
  11464  69  2  108196  4   5  0   6  5  0  0  2993   0  40   0
  14030  40  2  184378  5  10  1   5  1  0  0     0   0  60   7
  20547  33  2  121195  1   9  0   9  0  4  0     0   0  50   0
  12449  35  2  205338  1   9  1   6  1  0  0     0   0  40   0

위에서 작성한 두 bootstrap 방법을 사용하여 실습 1에서 만든 모델들을 학습시키고, 적절하게 aggregating하여 결과를 도출해주세요

In [168]:
models=[('GNBC', GaussianNB())]+[(f'kNN-{n}', KNeighborsClassifier(n)) for n in [2]]+\
        [(f'DT-{_}',DecisionTreeClassifier()) for _ in range(3)]

copy_models = models.copy()

ensemble = VotingClassifier(models, voting='hard')
name=[]
score=[]
for i in range(len(boot)):
    x_train, x_test, y_train, y_test = train_test_split(data[0][i], data[1][i], test_size=0.3, shuffle=False)
    ensemble.fit(x_train.values, y_train.values.ravel())
    for clf in copy_models:
        name.append(clf[0])
        clf[1].fit(x_train.values,y_train.values.ravel())
        score.append(clf[1].score(x_test,y_test)*100)
#         print(f"{clf[0]}'s score : {clf[1].score(x_test,y_test)*100}%")

In [209]:
result_score=[0,0,0,0,0]
result_score[0] = score[0]+score[5]+score[10]+score[15]+score[20]
result_score[1] = score[1]+score[6]+score[11]+score[16]+score[21]
result_score[2] = score[2]+score[7]+score[12]+score[17]+score[22]
result_score[3] = score[3]+score[8]+score[13]+score[18]+score[23]
result_score[4] = score[4]+score[9]+score[14]+score[19]+score[24]
for i in range(0,5):
    result_score[i]=result_score[i]/5

각각의 모델에 셈플링되어 나누어진 5개의 학습 데이터를 각각 넣어보았다.

In [221]:
for i in range(0,5):
    print(name[i]+"'score :", result_score[i])

GNBC'score : 79.70312233407269
kNN-2'score : 80.89063299778195
DT-0'score : 87.44924074390036
DT-1'score : 87.40829210032419
DT-2'score : 87.4970141614059

우리는 지난 실슴들을 통해 다양한 preprocessing을 실습하였습니다

앞서 생성한 모델을 학습시킬때 성능을 개선시킬 방법이 있는지 고민해보시고 방법론을 아래 markdown으로 작성해주세요

지난 실습들을 통해 다양한 preprocessing을 이용하여 학습의 성능을 높혀왔다. bagging도 분산이나 noise, bias를 잘 처리하면 더욱 성능이 높아질것으로 예상한다.

### 실습 03. Random forest & gradient boosting machine

Random forest와 gradient boosting machine에 대해 사용해보시고 결과를 출력해주세요

hyper parameter는 자유롭게 사용해주시면 됩니다

그리고 feature importance 구하여 각 base,weak learner들이 어떻게 instance를 분리하였는지 간단히 설명해주세요

In [224]:
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier

rf = RandomForestClassifier()
rf.fit(x_train.values, y_train.values.ravel())

print (f'ensemble score : {rf.score(x_test,y_test)*100:.5}%')

ensemble score : 89.609%

In [226]:
gbc=GradientBoostingClassifier(n_estimators=100000,n_iter_no_change=1000,verbose=1)
gbc.fit(x_train.values,y_train.values.ravel())

print('학습하는 동안 생성한 weak learner의 갯수 : ', gbc.n_estimators_)
print(f'모델의 정확도 : {gbc.score(x_test.values,y_test.values.ravel())*100:.5}%')

      Iter       Train Loss   Remaining Time
         1           1.0570           26.60m
         2           1.0092           24.96m
         3           0.9717           23.29m
         4           0.9407           22.86m
         5           0.9154           22.62m
         6           0.8936           22.44m
         7           0.8709           22.33m
         8           0.8491           22.03m
         9           0.8270           21.98m
        10           0.8145           21.94m
        20           0.7134           21.02m
        30           0.6632           20.72m
        40           0.6335           20.82m
        50           0.6152           20.67m
        60           0.6014           20.60m
        70           0.5889           20.53m
        80           0.5798           20.47m
        90           0.5717           20.61m
       100           0.5646           20.65m
       200           0.5125           20.49m
       300           0.4829           20.53m
       400           0.4587           20.39m
       500           0.4385           20.22m
       600           0.4206           20.10m
       700           0.4021           20.02m
       800           0.3863           19.94m
       900           0.3707           19.89m
      1000           0.3565           19.84m
      2000           0.2536           19.54m
학습하는 동안 생성한 weak learner의 갯수 :  2145
모델의 정확도 : 88.739%

### 실습 04. Stacking

우리는 다양한 base learner를 사용하여 ensemble을 시도하였습니다

그리고 Ensemble의 결과를 얻기 위해 majority voting, argmax $p(\hat{y})$ 등을 시도하였습니다

다른 측면에서 voting 자체도 기계학습으로 대체하는 기법이 있습니다

이것을 stacking이라고 부릅니다

간단한 모델들을 사용하여 base learner들의 예측 확률 값을 최종 모델의 input으로 사용하는 stacking model을 생성해주세요

Stacking model은 기존과 같은 target을 학습하며, 이렇게 학습된 모델이 어떤 예측 성능을 보이는지 보여주세요

이번 수업은 너무 어려워서 이해하기가 힘듭니다..
최선을 다했지만 이것이 한계인것같습니다 ...